.sl-markdown-content td {
  vertical-align: top;
}
.sl-markdown-content pre {
  tab-size: 2;
  max-width: 100%;
  overflow-x: auto;
}
.sl-markdown-content details {
  margin-block: 1.5rem;
  padding: 1rem;
  border: 1px solid var(--sl-color-gray-5);
  border-radius: 0.5rem;
}
.sl-markdown-content summary {
  cursor: pointer;
  font-weight: 600;
}
.sl-markdown-content summary:focus-visible {
  outline: 2px solid var(--sl-color-accent-high);
  outline-offset: 4px;
}
