:root {
  --sl-color-accent-low: #102e3c;
  --sl-color-accent: #087ca0;
  --sl-color-accent-high: #b5e8f6;
  --sl-content-width: 52rem;
}
:root[data-theme="light"] {
  --sl-color-accent-low: #dceff5;
  --sl-color-accent: #086b8b;
  --sl-color-accent-high: #123747;
}
.sl-markdown-content td {
  vertical-align: top;
}
.sl-markdown-content pre {
  tab-size: 2;
}
